<% provide :head_title, 'Notebooks' %>

<%= box title: 'Notebooks', button_text: 'Add', button_link: new_notebook_path do %>
  <div class="notebooks">
    <% notebooks.each do |notebook| %>
      <div class="notebook">
        <%= link_to notebook.name, notebook_sections_path(notebook), class: 'list-group-item-action' %>
        <span class="list-group-item-action">
          <%= octicon 'pencil' %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
