<% provide :head_title, 'Notebooks' %>

<%= box title: 'Notebooks', button_text: 'Add', button_link: new_notebook_path do %>
  <div class="notebooks">
    <% notebooks.each do |notebook| %>
      <div class="notebook">
        <%= link_to notebook.name, notebook_sections_path(notebook), class: 'main-button list-group-item-action' %>
        <%= link_to '#', class: 'edit-button list-group-item-action' do %>
          <%= octicon 'pencil' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
