<% title 'Notebooks', last_breadcrumb: true %>

<%= box do %>
  <%= link_to new_notebook_path, class: 'add-round-button mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--accent' do %>
    <i class="material-icons mdl-color-text--white" role="presentation">add</i>
    <span class="visuallyhidden">add</span>
    <span class="mdl-button__ripple-container">
      <span class="mdl-ripple is-animating"></span>
    </span>
  <% end %>
  <% if notebooks.any? %>
    <ul class="list">
      <% notebooks.each do |notebook| %>
        <li>
          <%= link_to notebook.name, notebook_sections_path(notebook_id: notebook.id) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      You have no notebooks. Add the first one.
    </p>
  <% end %>
<% end %>
