- title t('title.notebook.index')

- if @notebooks.any?
  - @notebooks.each do |notebook|
    = render 'notebooks/card', notebook: notebook
- else
  = box do
    You have no notebooks. Add the first one.

= add_fixed_button link: new_notebook_path
