- title t('title.notebook.index')

= box do
  - if @notebooks.any?
    %ul.list
      - @notebooks.each do |notebook|
        %li= link_to notebook.name, notebook_sections_path(notebook_id: notebook.id)
  - else
    You have no notices. Add the first one.

= add_fixed_button link: new_notebook_path
