<% provide :head_title, "#{notebook.name} sections" %>

<%= box title: "#{notebook.name} sections", button_text: 'Add', button_link: '#' do %>
  <div class="sections">
    <%= render 'notebooks/sections', sections: notebook.sections, id: nil, collapse: false %>
  </div>
<% end %>
