# Ignore bundle files
/.bundle
/vendor/bundle

# Ignore git files
/.git
.gitignore

# Ignore ruby version file
.ruby-version

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore readme file
README.md
