<% title current_section.name %>

<% if @notices.any? %>
  <% @notices.each do |notice| %>
    <div class="box mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
      <%= link_to notice.name, notebook_section_notice_path(id: notice.id) %>
    </div>
  <% end %>
<% else %>
  <%= box do %>
    You have no notices. Add the first one.
  <% end %>
<% end %>

<%= add_fixed_button link: new_notebook_section_notice_path %>
