@mixin new-item {
  text-align: right;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: #464a4c;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
  }
  a:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}
