version: 2
jobs:
  build:
    parallelism: 3
    working_directory: /usr/src/app
    docker:
      - image: vitalikpaprotsky/repeek-base:latest
        environment:
          RAILS_ENV: test
      - image: mongo:3.4.5
    steps:
      - checkout

      # Restore bundle cache
      - type: cache-restore
        key: repeek-{{ checksum "Gemfile.lock" }}

      # Bundle install dependencies
      - run: gem install bundler
      - run: bundle install --path vendor/bundle

      # Store bundle cache
      - type: cache-save
        key: repeek-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle

      # Run rspec in parallel
      - type: shell
        command: |
          bundle exec rspec --profile 10 \
                            --format documentation \
                            $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      - setup_remote_docker

      # Build and push Docker image
      - run: |
          TAG=1.4.0
          docker build -t vitalikpaprotsky/repeek-staging:$TAG -f Dockerfile.staging .
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push vitalikpaprotsky/repeek-staging:$TAG
