@import "variables/colors";

a {
  color: $blue;
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  background: $very-light-grey;
}

#breadcrumbs {
  color: $grey;
}

#top-content {
  .title {
    font-size: 34px;
    line-height: 40px;
    display: inline-block;
  }
  .actions {
    display: inline-block;
    vertical-align: bottom;
  }
}

#view-content {
  padding: 0;
}

#content {
  justify-content: center;
  padding: 8px 0;
}

#content > div {
  margin: 0;
}

.box {
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flash-message {
  color: $white;
  font-size: 16px;
  border-radius: 2px;
  padding: 8px 16px;
}

.flash-error   { background-color: $red;    }
.flash-success { background-color: $green;  }
.flash-notice  { background-color: $blue;   }
.flash-warning { background-color: $yellow; }

.errors {
  padding: 0;
  margin: 0;
  .error {
    font-size: 16px;
    list-style: none;
    margin-top: 8px;
    color: $red;
  }
  .error:first-child {
    margin-top: 0;
  }
}

.breadcrumb-separator {
  font-weight: bold;
}

.add-fixed-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.card {
  font-size: 16px;
  padding: 0;
  .top-section {
    position: relative;
    padding: 16px 40px 16px 16px;
    .card-menu {
      position: absolute;
      top: 10px;
      right: 8px;
      a {
        color: $light-black;
        display: block;
      }
    }
  }
  .bottom-section {
    border-top: 1px solid $light-grey;
    padding: 4px 16px 4px 16px;
  }
}

.small-form {
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .mdl-textfield {
    width: 100%;
  }
}
