@import "variables/colors";

#title {
  margin-top: 10px;
  margin-bottom: 0;
}
.flash {
  margin-top: 8px;
  .flash-message {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 8px;
    border-radius: 4px;
  }
  .flash-error   { background-color: $red;    }
  .flash-success { background-color: $green;  }
  .flash-notice  { background-color: $blue;   }
  .flash-warning { background-color: $yellow; }
}


h1 {
  font-size: 34px;
  line-height: 40px;
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  margin: 0;
}

main {
  background: #fafafa;
}

.box {
  position: relative;
  padding: 20px;
  background: #fff;
}

.errors {
  padding: 0;
  margin: 0;
  .error {
    font-size: 16px;
    list-style: none;
    margin-top: 8px;
    color: $red;
  }
  .error:first-child {
    margin-top: 0;
  }
}
