<% flash.each do |type, message| %>
  <div class="mdl-grid flash">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--9-col flash-message flash-<%= type %>">
      <%= message %>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
<% end %>
