-# TODO: REMOVE LATER!
%div= "Please, send this response to RuCapctha. It's a solved capctha."
%div= "Пожалуйста, отправьте этот ответ в RuCaptcha. Это решена капча."
%br
= text_area_tag 'Response/Oтвет', params[:response], rows: 15, cols: 150
