<ul class="list">
  <% sections.each do |section| %>
    <li>
      <%= link_to section.name, notebook_section_notices_path(section_id: section.id) %>
      <% if section.can_create_child_section? %>
        <%= link_to new_notebook_section_path(parent_section_id: section) do %>
          <i class="add-child-section material-icons">add</i>
        <% end %>
      <% end %>
      <% if section.child_sections.any? %>
        <%= render 'sections/sections_tree', sections: section.child_sections %>
      <% end %>
    </li>
  <% end %>
</ul>
