<% provide :head_title, "#{current_notebook.name} sections" %>

<%= box title: "#{current_notebook.name} sections", button_text: 'Add', button_link: new_notebook_section_path do %>
  <div class="sections">
    <%= render 'sections/sections_tree', sections: sections, id: nil, collapse: false, add_child_button: true %>
  </div>
<% end %>
