#sections-index {
  .sections {
    .section-list {
      width: 100%;
      .section-list {
        padding-left: 25px;
      }
      .section {
        @include list-item;
        span.collapse-button, a.add-button, a.edit-button {
          @include additional-button;
        }
        span.collapse-button {
          border-right: 1px solid #e0e0e0;
          .octicon-chevron-down {
            display: none;
          }
        }
        a.add-button, a.edit-button {
          border-left: 1px solid #e0e0e0;
        }
        a.main-button {
          @include main-button;
        }
      }
    }
  }
}
