@import "mixins/list";
@import "variables/colors";

#sections-index {
  .box {
    .list {
      @include list;
      li {
        .add-child-section {
          color: #ff5252;
          margin-left: 10px;
        }
        li {
          padding-left: 16px;
        }
      }
    }
  }
  .box > .list > li:first-child {
    margin-top: 0;
  }
}
