@import "mixins/list";
@import "mixins/add-round-button";
@import "variables/colors";

#sections-index {
  .box {
    .list {
      @include list;
      li {
        .add-child-section {
          color: #ff5252;
          margin-left: 16px;
        }
        li {
          padding-left: 16px;
        }
      }
    }
    .add-round-button {
      @include add-round-button;
    }

  }
  .box > .list > li:first-child {
    margin-top: 0;
  }
}
