$red:             #ff5252;
$green:           #4caf50;
$blue:            #2196f3;
$yellow:          #ffeb3b;
$very-light-grey: #fafafa;
$light-grey:      #ececec;
$grey:            #9e9e9e;
$white:           #ffffff;
