@import "bootstrap";
@import "bootstrap_overrides";
@import "notebooks";
@import "simple_form";

*, input {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body {
  #page_title {
    font-size: 2rem;
    display: inline-block;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 1rem;
    margin-left: -1rem;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  #page {
    padding: 1rem;
  }
}
