@import "bootstrap";
@import "bootstrap_overrides";
@import "notebooks";
@import "simple_form";
@import "octicons";

*, input {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

input[type=submit] {
  cursor: pointer;
}

body {
  .navbar {
    .navbar-nav {
      .caret-item {
        cursor: pointer;
        #navbarDropdownMenuLink {
          padding: 7px;
          .octicon-triangle-down {
            width: 16px;
            height: 21px;
          }
        }
        .dropdown-menu {
          a {
            text-decoration: none;
            button {
              cursor: pointer;
            }
          }
        }
      }
      .hidden-item {
        display: none;
      }
      .user-name {
        border-right: 1px solid #d9d9d9;
        margin-right: 12px;
        padding-right: 12px;
      }
      .nav-item {
        .nav-link {
          color: rgba(0, 0, 0, 0.7);
        }
        .nav-link:hover {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
  #box {
    width: 100%;
    #top-box {
      padding: 1rem 0rem;
      margin-bottom: 1rem;
      .title {
        font-size: 2rem;
        display: inline-block;
        padding: 0rem 3rem 0.4rem 3rem;
        margin: 0rem 0rem 0rem -2rem;
        border-bottom: 1px solid #d9d9d9;
      }
      .button {
        display: inline-block;
        float: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
        a {
          border-radius: 0;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  body {
    .navbar {
      .navbar-nav {
        .user-name {
          display: none;
        }
        .caret-item {
          display: none;
        }
        .hidden-item {
          display: block;
        }
      }
    }
  }
}
