// Place all the styles related to the notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sections {
  .section-list {
    width: 100%;

    .section-list {
      padding-left: 30px;
    }

    .section {
      border: 1px solid #e0e0e0;
      margin-top: -1px;
      display: table;
      vertical-align: middle;
      width: 100%;

      span {
        display: table-cell;
        padding: 0.75rem 0.25rem;
        width: 0;
        border-right: 1px solid #e0e0e0;
        cursor: pointer;

        .octicon-chevron-down {
          display: none;
        }
      }

      a {
        display: table-cell;
        padding: 0.75rem 1.25rem;
      }
    }
  }
}
